*{
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans', sans-serif;
}
.bg{
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(Images/background.png);
    background-position: center;
    background-size: cover;
}
.main{
    width: 100%;
    height: 100vh;
    padding-left: 8%;
    padding-right: 8%;
    box-sizing: border-box;
}
.row{
    display: flex;
    height: 88%;
    align-items: center;
}
h1{
    color: white;
    font-size: 100px;
}
p{
    color: white;
    font-size: 11px;
    line-height: 15px;
}
.card{
    width: 200px;
    height: 230px;
    display: inline-block;
    border-radius: 10px;
    padding: 15px 25px;
    box-sizing: border-box;
    margin: 10px 15px;
    background-position: center;
    background-size: cover;
    transition: 0.5s;
}
.card1{
    background-image: url(Images/zw1.png);
}
.card2{
    background-image: url(Images/zw2.png);
}
.card3{
    background-image: url(Images/zw3.png);
}
.card4{
    background-image: url(Images/zw4.png);
}
.card:hover{
    transform: translateY(-10px);
}
h5{
    color: white;
    text-shadow: 0 0 5px black;
}
.card p{
    text-shadow: 0 0 15px black;
    font-size: 8px;
}